$nav-background: #303547;
$color-light: whitesmoke;
$color-dark: rgb(26, 26, 26);
$second-color: orange;
$color-light-gray: lightgray;
$color-gray: gray;
$background-gray: #f7f7f7;
$color-hover-gray: rgb(231, 231, 231);
$color-green: #12ca0c;