<%- include ("./layout/header.ejs") %>

<div class="container">
    <div class="panel">
        <div class="panel_item panel_item_new">
            <div class="panel_item_row">
                <div class="panel_item_row__ico"></div>
                <div class="panel_item_row__name">Новый прайс лист</div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row align_row_center rules_row hidden">
            <button class="btn">Управление правилами</button>
        </div>
        <div class="row">
            <div class="drop_area hidden" id="settings_uploads">
                <p>Перетащите файл или нажмите кнопку</p>
                <label for="file" class="button_upload">Загрузить</label>
                <input type="file" id="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
            </div>
        </div>
        <div class="row">
            <table class="data_table">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="row align_row_center actions_row hidden">
            <button class="btn btn_cancel" id="settings_cancel">Отменить</button>
            <button class="btn btn_save" id="settings_save">Сохранить</button>
        </div>
    </div>
</div>
<%- include ("./layout/footer.ejs") %>